TOTP QR Code Doesn't Scan

When the QR code is generated in the logs, if you try to use Google Authenticator to scan it, you will get "Can't scan this QR code" in the app. Can you check this? It does scan in Microsoft Authenticator fine, so not sure why it's not working via Google'a app.

This stumped me for a bit, but I think I see the issue now. Leave it with me.

Technical Notes: Looks to be related to the Base32 padding at the end of the secret in the provisioning URI. See [this paragraph](https://github.com/google/google-authenticator/wiki/Key-Uri-Format#secret) in Google's docs:

> Secret
REQUIRED: The secret parameter is an arbitrary key value encoded in Base32 according to [RFC 3548](http://tools.ietf.org/html/rfc3548). The padding specified in [RFC 3548 section 2.2](https://tools.ietf.org/html/rfc3548#section-2.2) is not required and should be omitted.

Fix now available in 5.2.3.